/* Basic styles for the home page */
body {
    
    margin: 0;
    padding: 0;
    background-color: #808589;
    color: #333;
}

header {
    height:auto;
    background-color: #808589;
    
   
    
}

.navbar{
    width: auto;
    text-align: center;
   height:auto;
    
    background-color: black;
    padding: 20px 0;
    border:#ff3103 solid 2px;
}


button{
    margin: 7px;
    width: auto;
    font-size: 22px;
    background-color: white;
    color: black;
    border-radius:8px;
    border-color: #ff3103;
    
}


.signin,.signup,.card{
    width: 10%;
    white-space: nowrap;
    
    justify-content: center; 
    align-items: center;   
    background-color: #808589;
    padding: 8px;
    border: 2px solid #ff3103;
    border-color: #ff3103;
    border-radius: 10px;
    color: black;
    text-align: center;
    
   display:inline-block;
    
}

















input {
   margin: 7px;
    background-color: hsl(240, 36%, 96%);
    color: rgb(7, 8, 0);
    font-size: 22px;
    width: 40%;
    border-radius: 10px;
    border-color: #ff3103;
}


.logo {
    gap: 5px;
    display: flex;
    width:100%;
    justify-content: center;
    background-color: #0a0a0b;
   padding: 4px;
    height:60px;
    border-radius:10px ;
    font-size: 10px;
    border:#ff3103 solid 2px
    
}











nav> a {
    display: inline-block;
   
   width: 10%;
    color:#ff3103;
    
    margin: 10px 15px;
    font-size: 25px;
    text-align: center;
   border-color: #ff3103;
    border-radius: 10px;
    
}

section {
    padding: 20px;
    margin: 20px;
    background-color:rgb(228, 228, 226);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #f8f3f3;
}





footer {
    background-color: #0e0c0c;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

